<head>
    <title>{{title}}</title>
</head>
<body bgcolor="#000000" text="#FF9900" link="#0099FF">
    <h1>{{title}}</h1>
    <h2>v{{version}} ({{codename}})</h2>
    </br>
    <h3><strong>{{error_desc}}</strong></h3>
    </br>
    <p>{{copyright}}</p>
    <form action="/" method="GET"><input type="submit" value="Back to homepage"></form>
</body>
